@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

p {
  font-size: 12px;
  color: black;
}

body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 50px;
}


/*body part box styling*/
#body-part-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 10px;
}

#body-part-title {
  display:flex;
  align-self: flex-start;
  font-size: 24px;
  padding-right: 20px;
}
.box h3{
  padding: 5px;
  font-size: 80%;
}

.body-parts {
  display: flex;
  flex-direction: column;
  height: 60vh;
  flex-wrap: wrap;
}

.box {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all 700ms ease-in;
  cursor: pointer; 
  min-width: 0; 
  overflow: hidden; 
}

.box img {
  object-fit: contain;
  max-height: 125px;
  max-width: 125px;
}

/*to highlight active body-part box once selected*/
.box.active {
  flex: 1;
  border: 3px solid #3498db;
  background-color: #eaf2f8; 
  z-index: 1; 
}

/* Ensure other boxes shrink when one is active */
.body-parts .box:not(.active) {
  flex: 0.8; 
  opacity: 0.7;
  min-width: 0;
}

/*herb-card styling*/
.content-placeholder {
  margin: 0px 10px;

}
#content-title{
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}

.herb-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-basis: 150px;
  flex-grow: 1;
  max-width: 250px;

}

.card-header {
  height: 50%;
  width: 100%;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.herb-title {
  font-size: 15px;
  margin: 0;
}

.herb-link {
  display: block;
  margin-top: 10px;
  color: #3498db;
  text-decoration: underline;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 400px) {
  #body-part-title,#content-title {
    font-size: 12px;
  }


  .box img {
    display: none;
  }

  .box h3 {
    font-size: 10px;
    padding: 10px;
  }

  .herb-card {
    flex-basis: 100%;
    padding: 5px;
  }
  .card-header {
    height: 40%;
  }

  .herb-title,
  .herb-link,
  p {
    font-size: 10px; 
  }
  .cards {
    width: 50vw;
    height: auto;
    gap: 5px;
  }

}


@media (min-width:992px) {

  .box img {
    max-height: 200px;
    max-width: 200px;
  }


}
